<div class="container">
  <div class="jumbotron">
    <h1>Listing <%= @dojos.count %> Dojo</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Coding Dojo Branch</th>
          <th>Street</th>
          <th>City</th>
          <th>State</th>
          <th>Actions</th>
        </tr>

      </thead>
      <tbody >
        <% @dojos.each do |all| %>
        <tr>
          <td><%= all.branch %></td>
          <td><%= all.street %></td>
          <td><%= all.city %></td>
          <td><%= all.state %></td>
          <td><a href= "/dojos/<%= all.id %>">Show</a> | <a href= "/dojos/<%= all.id %>/edit">Edit</a> | <a href="/dojos/<%= all.id %>" data-method="delete" data-confirm="Confirm Deletion?" ">Delete</a></td>

        </tr>

      </tbody>
      <% end %>
    </table>
    <p><%= flash[:notice] %></p>
    <p><%= flash[:success] %></p>


    <a href="/dojos/new" ><b>New Dojo</b></a>

  </div>

</div>
